<div class = "row">
    <div class="col-md-6">
        <h2>
            {{ contact.name }} {{ contact.phone }}
        </h2>
    </div>

    <div class="col-md-2">
        <a href="#/"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteContact(contact._id)">delete</button></a>
    </div>

</div>
<div ng-hide="editMode" class="container">
    <div>
        <p>
            <button style="margin-top:20px" class="btn btn-default" ng-click="edit()">edit</button>
        </p>
    </div>
</div>
